@{
    ViewBag.Title = "Home Page";
}

<div class="container-main">
    <div>
        <h2>Pod lipą -  nasza wyjątkowa restauracja</h2>
    </div>
    <img src="https://www.elle.pl/media/cache/default_view/uploads/media/default/0005/42/lukier-leszno-projekt-jagodystudio_8.jpeg" class="img" alt="zdjecie naszej restauracji">
    <div>
        <P>
            Witaj! Cieszymy się, że dołączyłeś do naszego zespołu. Na tej stronie otrzymasz dostęp do naszego menu, listy naszych wspaniałych klientów i zamówień.
            Mamy nadzieję że zostaniesz z nami na długo &#128515;. Jeżeli potrzebujesz pomocy z obsługą naszej strony zajrzyj pod <a href="https://drive.google.com/file/d/1Yfehr_gY-Uw2XW-KH-ySzHjnl7giGWVY/view?usp=sharing">link z instrukcją obsługi strony</a>
            Powodzenia w pracy i mamy nadzieję że nasza współpraca będzie owocna.
        </P>
    </div>
</div>
